<%- include('../include/header') %>


<style type="text/css">
	.inventory{
		margin-top: 20px;
		margin-bottom: 20px;
		border: 1px solid #E7E9EB;
		padding: 20px;
	}

	.profile-user{
		/*margin-top: 20px;*/
		margin-bottom: 20px;
		border: 1px solid #E7E9EB;
		padding: 20px;
	}

	.profile-user .block-profile{
		
		padding: 10px;
	}
	.profile-user .data-user-label{
		text-align: right;
		border-right: 3px solid #83D689;
		color: #455A64;
		font-weight: bold;


	}
	#myCustomForm #nameForm{
		color: #455A64;
		border-right: 3px solid #83D689;
		border-left: 3px solid #83D689;
		padding: 10px;
		text-align: center;
	}
	.newForm{
		padding: 20px;
		border: 1px solid #E7E9EB;
	}
	#myTitle{
	border-left: 1px solid #E7E9EB;
	border-right: 1px solid #E7E9EB;
	border-top: 1px solid #E7E9EB;
    margin: 0px;
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
	}
	 .myCustomForm #nameForm{
		color: #455A64;
		border-right: 3px solid #83D689;
		border-left: 3px solid #83D689;
		padding: 10px;
		text-align: center;
		pointer-events: none;
	}
	#draggable10 li{
		list-style: none;
	}
	li.ui-state-default.ui-sortable-handle{
		list-style: none;
		margin-top: 20px;
		cursor: default;
	}
	#draggable10{
		margin-left: 0px;
    	padding-left: 0px;	
	}


	
	@media(max-width: 767px){
	.profile-user .data-user-label{
		border-right: none;
	}
	}
</style>

<div class="container">
	<h3 id="myTitle">Профіль користувача</h3>
	<div class="profile-user">
			<div class="block-profile">
				<div class="row">
					<div class="col-2 data-user-label">ПІБ:</div><div class="col-10 data-user-text" ><%= student.name %></div>
				</div>
			</div>
			<div class="block-profile">
				<div class="row">
					<div class="col-2 data-user-label">Група:</div><div class="col-10 data-user-text" ><%= student.groupId.name %></div>
				</div>
			</div>
			<div class="block-profile">
				<div class="row">
					<div class="col-2 data-user-label">Логін:</div><div class="col-10 data-user-text" ><%= student.login %></div>
				</div>
			</div>
		</div>
	








	<div class="inventory" id="inventory" style="display: none;"><%=student.form%></div>	
		
		<input type="hidden" name="" id="student_id" value="<%=student.id%>">
	<h3 id="myTitle">Ваша анкета</h3>
	<div class="newForm">
		

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.newForm').html($('.inventory').text());
		});


		function saveToValue($elem,$vals,$type){
			//alert($vals);
			if($type == "number"){
				$($elem).attr('value', $vals);	
			}else if($type == "text"){
				$($elem).attr('value', $vals);
				$($elem).text($vals);
			}
		}

			//updateform
		function sendForm() {
				//alert();
				$form_data = $('.newForm').html();
				alert($form_data);
			//$form_data = $('.newForm').wrap('<div/>').parent().html();

			//$group = $('#select_group').val();
			//$students = $('#select_students').val();
			//$delete_clear = $('.myCustomForm .clearInForm').wrap('<div/>').parent().html();
			//$new_form_data_no_clear = $form_data.replaceAll($delete_clear, "<div id='place_to_clear'></div>");



	
	//$new_form_data_with_button = $new_form_data_no_clear + '<button type="button" class="btn btn-primary my-custom-button" id="sendForm" onclick="sendForm()">Зберегти анкету</button>';
			//alert($delete_clear);


			/*($group);
			alert($students);
			alert($form_data);*/
			$.ajax({ 
				url: '/updateStudentForm',        
				method: 'post',             
				dataType: 'html',          
				data: {
					form_data:  $form_data,
					student_id: $('#student_id').val()
				},    
				success: function(data){   
					window.location.reload(); 
				}
			});  

		}




	</script>

</div>



<%- include('../include/footer') %>