<%- include('include/header') %>

<style type="text/css">
	.createInventory{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.createInventory .selectType #selectType{
		border: 1px solid #E7E9EB;
		padding: 10px;
	}
	.createInventory .myBlockForm{
		margin-top: 50px;
		border: 1px solid  #E7E9EB;
		padding: 20px;
	}
	.createInventory .clearInForm{
		position: absolute;
	    right: 10px;
	    top: 0px;
	    cursor: pointer;
	}
	.createInventory .clearInForm img{
		width: 15px;
	}
	.createInventory .groupInventory{
		padding: 10px;
		border: 1px solid #E7E9EB;
	}
	.createInventory .myCustomForm #nameForm{
		color: #455A64;
		border-right: 3px solid #83D689;
		border-left: 3px solid #83D689;
		padding: 10px;
		text-align: center;
	}
	li.ui-state-default.ui-sortable-handle{
		list-style: none;
		margin-top: 20px;
		cursor: move;
	}
</style>
<div class="container">

	<script type="text/javascript" src="/js/jquery-ui.js"></script>
	<div class="createInventory">


<script>$(document).ready(function(){$("#draggable10").sortable({revert: true});});</script>


		<div class="fieldsButton">
			<button type="button" class="btn btn-primary my-custom-button" onclick="addTextField('group')" id="addFields">Додати текстове поле</button>
		</div>
	
		<div class="selectGroup" style="display: none;">
			<div class="form-group">
				<br>
			    <label for="select_group">Виберіть групу:</label>
				
			    <select class="form-control" id="select_group">
					<option></option>
					<% for(j=0; j < groups.length; j++){ %>
						<option value='<%-groups[j]._id%>'>
							<%= groups[j].name %>
						</option>
					<% } %>
			   
			    </select>
			  </div>
			  <button type="button" class="btn btn-primary my-custom-button" onclick="addTextField('students')">Далі</button>
		</div>

		<div class="selectStudents" style="display: none;">
			<div class="form-group">
				<br>
			    <label for="select_students">Виберіть студента:</label>
			    <select class="form-control" id="select_students">
					<option></option>
					<% for(j=0; j < students.length; j++){ %>
						<option value='<%-students[j]._id%>'>
							<%= students[j].name %>
						</option>
					<% } %>
			      
			    </select>
			  </div>
			  <button type="button" class="btn btn-primary my-custom-button" id="selectStudentsButton" onclick="addTextField('type')">Далі</button>
		</div>



				<div class="selectType" style="display:none;">
						<br>
				    	<label for="selectType">Виберіть тип поля</label><br>
				    	<label id="selectType"><input type="radio" value="number" id="type_radio_number" name="type[]"> Числовий <br></label>		
				    	<label id="selectType"><input type="radio" value="text" id="type_radio_text" name="type[]"> Текстовий</label>
				    	<br>
			  			<button type="button" class="btn btn-primary my-custom-button" onclick="addTextField('inputData')">Далі</button>
				</div>



				<div class="inputData" style="display:none;">
					<br>
					<label for="nameField">Введіть назву для поля</label><br>
				    <input type="text" class="form-control" id="nameField" placeholder="Назва питання">
				    <br>
					<button type="button" class="btn btn-primary my-custom-button" onclick="addTextField('addToForm')">Додати на форму</button>
				</div>

				<div class="myBlockForm" style="display:none;">
					<ul id="draggable10" class="ui-sortable myCustomForm">
					
						<h3 id="nameForm"></h3>
				
				</ul>
				<button type="button" class="btn btn-primary my-custom-button" id="saveForm" onclick="saveForm()" style="display: none;">Зберегти форму</button> 
				</div>


	<script type="text/javascript">
		function addTextField($vals){

			if($vals == 'group'){
				$('#addFields').css('display', 'none');
				$('.selectGroup').css('display', 'block');

			}else if($vals == 'students'){
				$('#selectStudentsButton').attr('onclick', "addTextField('audit_form')");
				$('#addFields').css('display', 'none');
				if($("#select_group").val() == ""){
					$("#select_group").css('border', '1px solid red');	
					setTimeout(function() {
					  $("#select_group").css('border', '1px solid #E7E9EB');
					}, 3000);
				}else{
					$('.selectStudents').css('display', 'block');
					$('.selectGroup').css('display', 'none');
				}

			}else if($vals == 'audit_form'){
				$('#addFields').css('display', 'none');

				if($("#select_students").val() == ""){
					$("#select_students").css('border', '1px solid red');	
					setTimeout(function() {
					  $("#select_students").css('border', '1px solid #E7E9EB');
					}, 3000);
				}else{
					$('.selectStudents').css('display', 'none');
					$my_host = window.location.origin;
					$students_id = $('#select_students :selected').val();
					
					$.ajax({ 
						url: $my_host+'/getStudentById/:student_id?student_id='+$students_id,        
						method: 'get',             
						dataType: 'html',          
						success: function(data){ 
							$parse_json = JSON.parse(data);
							//alert($parse_json['form']);
							if($parse_json['form'] === undefined){
								$('.selectType').css('display', 'block');
							}else{
								$('.myBlockForm').css('display', 'block');
								$('#addFields').css('display', 'block');
								$('.selectGroup').css('display', 'none');
								
								$('.inputData').css('display', 'none');
								$('.selectStudents').css('display', 'none');
								$('#addFields').attr('onclick', "addTextField('type')");

								$('.myBlockForm').html($parse_json['form'].replaceAll("<div id='place_to_clear'></div>", '<div class="clearInForm" onclick="clearInForm(this)"><img src="/img/clear.svg"></div>'));
								

								$("#draggable10").sortable({revert: true});

							}
							
						}
					}); 

				}

				

			}else if($vals == 'type'){
				$('#addFields').css('display', 'none');
				if($("#select_students").val() == ""){
					$("#select_students").css('border', '1px solid red');	
					setTimeout(function() {
					  $("#select_students").css('border', '1px solid #E7E9EB');
					}, 3000);
				}else{
					$('.selectStudents').css('display', 'none');
					$('.selectType').css('display', 'none');
					   
					



					$('.selectType').css('display', 'block');
				}

				



			}else if($vals == 'inputData'){
				$('#addFields').css('display', 'none');
				if($("#type_radio_number").prop('checked') || $("#type_radio_text").prop('checked')){
					$('.selectType').css('display', 'none');
					$('.inputData').css('display', 'block');
				}else{
					$("#type_radio_number").parent().css('border', '1px solid red');
					$("#type_radio_text").parent().css('border', '1px solid red');
					setTimeout(function() {
					  $("#type_radio_number").parent().css('border', '1px solid #E7E9EB');
					  $("#type_radio_text").parent().css('border', '1px solid #E7E9EB');
					}, 3000);
				}

			}else if($vals == 'addToForm'){

				if( $('#nameField').val() !== ""){

					$('.selectType').css('display', 'none');
					$('.inputData').css('display', 'none');
					$('.myBlockForm').css('display', 'block');

					$name_fiels = $('#nameField').val();
					$type_fiels = "";	
					$students = $('#select_students :selected').text();

					$('.myCustomForm #nameForm').html("Анкета для студента: " + $students);	
					

					$my_form = $('.myCustomForm').html();
					



						if($("#type_radio_number").prop('checked')){
							$type_fiels = "number";
							$('.myCustomForm').html($my_form + '<li class="ui-state-default ui-sortable-handle"><div class="form-group groupInventory" style="position:relative;" id="'+makeid()+'">'+
																				'<div class="clearInForm" onclick="clearInForm(this)"><img src="/img/clear.svg"></div>'+
																				'<label for="pip">'+$name_fiels+'</label>'+
				    															'<input type="'+$type_fiels+'" class="form-control" id="pip" placeholder="Поле для вводу">'+
			  																  '</div></li>');
							clearFields();

						}else if($("#type_radio_text").prop('checked')){
							$type_fiels = "text";
							$('.myCustomForm').html($my_form + '<li class="ui-state-default ui-sortable-handle"><div class="form-group groupInventory" style="position:relative;" id="'+makeid()+'">'+
																				'<div class="clearInForm" onclick="clearInForm(this)"><img src="/img/clear.svg" ></div>'+
																				'<label for="pip">'+$name_fiels+'</label>'+
				    															'<textarea class="form-control" rows="2" placeholder="Поле для вводу"></textarea>'+
			  																  '</div></li>');






							clearFields();
						}
						$('#saveForm').css('display','block');
				}else{
					$("#nameField").css('border', '1px solid red');
					
					setTimeout(function() {
					  $("#nameField").css('border', '1px solid #E7E9EB');
					  
					}, 3000);
				}

				$('#addFields').attr('onclick', "addTextField('type')");
				if($("#select_group").val() !== ""){
					$('.selectGroup').css('display', 'none');
				}else if($("#select_students").val() !== ""){
					$('.selectStudents').css('display', 'none');
				}else if($("#select_group").val() !== "" && $("#select_students").val() !== ""){
					$('.selectType').css('display', 'block');
					
				}



			}




			
		}

		//updateform
		function sendForm() {
				//alert();
			$form_data = $('.myCustomForm').wrap('<div/>').parent().html();
			$group = $('#select_group').val();
			$students = $('#select_students').val();
			$delete_clear = $('.myCustomForm .clearInForm').wrap('<div/>').parent().html();
			$new_form_data_no_clear = $form_data.replaceAll($delete_clear, "<div id='place_to_clear'></div>");



	
	$new_form_data_with_button = $new_form_data_no_clear + '<button type="button" class="btn btn-primary my-custom-button" id="sendForm" onclick="sendForm()">Зберегти анкету</button>';
			//alert($delete_clear);


			/*($group);
			alert($students);
			alert($form_data);*/
			$.ajax({ 
				url: '/updateStudentForm',        
				method: 'post',             
				dataType: 'html',          
				data: {
					form_data:  $new_form_data_with_button,
					//group_id: $group,
					student_id: $students
				},    
				success: function(data){   
					window.location.reload(); 
				}
			});  

		}





		function saveForm() {
			//alert();
			$form_data = $('.myCustomForm').wrap('<div/>').parent().html();
			$group = $('#select_group').val();
			$students = $('#select_students').val();
			$delete_clear = $('.myCustomForm .clearInForm').wrap('<div/>').parent().html();
			$new_form_data_no_clear = $form_data.replaceAll($delete_clear, "<div id='place_to_clear'></div>");


			$new_form_data_with_button = $new_form_data_no_clear + '<button type="button" class="btn btn-primary my-custom-button" id="sendForm" onclick="sendForm()">Зберегти анкету</button>';

			$.ajax({ 
				url: '/saveAdminForm',        
				method: 'post',             
				dataType: 'html',          
				data: {
					form_data:  $new_form_data_with_button,
					//group_id: $group,
					student_id: $students
				},    
				success: function(data){  
				window.location.reload(); 
					//alert(data);
				}
			});     
		}


		function clearFields() {
					$('#addFields').css('display', 'block');
				 	$('#nameField').val("");
				 	$("#type_radio_number").attr('checked', false);
				 	$("#type_radio_text").attr('checked', false);
		}
		function  clearInForm($ids) {
			$my_form = $('.myCustomForm').html();	
			$id_delete = $($ids).parent().parent().attr('id');
			$('#'+$id_delete).wrap('<div/>').parent().html("");
			//alert($id_delete);


		}

		function makeid() {
		  var text = "";
		  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		  for (var i = 0; i < 8; i++)
		    text += possible.charAt(Math.floor(Math.random() * possible.length));

		  return text;
}


	</script>

	</div>


</div>		